/* header.css */
.Header-header{
    width: 100%;
    height: 100%;

    background-color: var(--roxo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.Header-titulo-header{
    color: white;
}
